* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.body{
  height: 100vh;
}

/* header section  */

.livescore-header{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 100px;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.livescore-header-nav{
  display: grid;
  grid-auto-flow: column;
  gap: 100px;
  align-content: center;
  font-size: 2rem;
  text-decoration: none;
}
.link{
  color: royalblue;
  font-weight: bold;
}
.livescore-header-search-input{
  padding: 20px;
  display: grid;
  place-items: center;
}
.livescore-header-search-input-logo{
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}
.search-icon{
  font-size: 2.2rem;
  height: 50px;
  border: 1px solid grey;
  border-right: unset;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#search{
  padding-left: 20px;
  width: 300px;
  height: 50px;
  border: unset;
  border: 1px solid grey;
  border-left: unset;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  font-size: 1.5rem;
}

/* main section */

.livescore-main{
  display: grid;
  padding: 20px;
}

.livescore-main__list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.livescore-main__list li {
  list-style: none;
  display: grid;
  place-items: center;
  gap: 10px;
  border: 1px solid green;
  width: 200px;
  height: 200px;
}

.livescore-main__list li img{
  width: 100px;
}
.livescore-main__list a{
  text-decoration: none;
  color: lightcoral;
}

/* table page */

.one-line{
  display: grid;
  grid-auto-flow: column;
  width: 1000px;
  gap: 150px;
  background-color: grey;
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;
}
.two-line{
  display: grid;
  grid-auto-flow: column;
  width: 1000px;
  gap: 150px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
}

.team-name{
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: bold;
}
.points-bar{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px;
  align-content: center;
  justify-content: end;
}
.the-table{
  display: grid;
  place-content: center;
  padding: 20px;
}
.link-table{
  text-decoration: none;
  color: black;
}

/* team details */

.the-team{
  display: grid;
  place-items: center;
  padding-top: 50px;
}
.the-team-details{
  margin: 40px;
  width: 50%;
  border: 1px solid grey;
}
.team-details__header{
  border-bottom: 1px solid grey;
  padding: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(top, rgb(0, 0, 255), royalblue);
  color: white;
}
.the-team main{
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.team-details__info{
  display: grid;
  padding: 40px;
}
.team-details__image {
  border-right: 1px solid grey;
  padding: 40px;
}
.team-details__image img{
  width: 130px;
}
.team-info-item{
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
}
.team-info-item .grey{
  color: rgba(128, 128, 128, 0.705);
}
.team-info-item .bold-grey{
  color: grey;
  font-size: 1.5rem;
  font-weight: bold;
}


.loading{
  font-size: 2.5rem;
  color: red;
  display: grid;
  place-items: center;
  padding-top: 300px;
}
.team-details__favourite{
  display: grid;
  place-items: center;
  padding-right: 20px;
}
.favourite{
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.favourite-active{
  font-size: 3rem;
  font-weight: bold;
  color: orange;
  cursor: pointer;
}
